@media (min-width: 768px) {
    #productsSection {
        height: 480px;
    }
    
    .wrapperBox {
        visibility: hidden;
    }
    
    .productBox:hover .wrapperBox {
        visibility: visible;
    }
}
